<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:fragment="header" class="globalHeader">
    <div class="content">
        <div class="navbarContent">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#"><img src="/images/cringe.png" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link links" href="#">About</a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="nav-item">
                            <a class="nav-link links" href="/login">Login</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link links" href="/cart">View Cart</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link links" href="/orders">View Orders</a>
                        </li>
                        <li sec:authorize="hasAuthority('admin')" class="nav-item">
                            <a class="nav-link links" href="/admin">Admin Portal</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link links" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="search-bar">
                    <form action="/search" method="get">
                        <input type="text" name="query" placeholder="Search...">
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
</html>