<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Cart</title>
    <script>
        function removeFromCart(id) {
            fetch('/cart/remove', {
                method: 'POST',
                body: new URLSearchParams({
                    id: id,
                })
            }).then( resp => {
                if (resp.ok) {
                    // Reduce total price
                    var totalPrice = document.getElementById('totalPrice');
                    const gamePrice = parseFloat(document.getElementById('game_price_' + id).innerText);
                    console.log("Total Price: " + totalPrice.innerText);
                    console.log("Game Price: " + gamePrice);
                    console.log("New Price: " + (parseFloat(totalPrice.innerText) - gamePrice));
                    totalPrice.innerText = (parseFloat(totalPrice.innerText) - gamePrice).toFixed(2);

                    // Remove row
                    const row = document.getElementById('game_row_' + id);
                    row.remove();

                    // If cart is empty, remove checkout button
                    const cart = document.getElementById('cart');
                    console.log("Num of rows: " + cart.rows.length);
                    if(cart.rows.length == 2) {
                        document.getElementById('btn-checkout').remove();
                    }
                }
            })
        }
    </script>
</head>
<body>
<div th:replace="fragments/header :: header" class="globalHeader">
    <div class="content">
        <div class="navbarContent">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/"><img src="/images/cringe.png" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link links" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link links" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="mainContent">
    <b class="text-center" style="color:white;">Games:</b>
        <table id="cart" class="table table-hover table-borderless">
            <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price (€)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:id="|game_row_${game.id}|" th:each="game : ${ user.cart.games }">
            <td><a th:text="${game.title}" th:attr="href=${#paths.view(game)}">Doom</a></td>
            <td th:id="|game_price_${game.id}|" th:text="${#numbers.formatDecimal(game.price, 0, 'COMMA', 2, 'POINT')}"></td>
            <td>
                <button th:onclick="|removeFromCart(${ game.id })|">Remove</button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th id="total">Total :</th>
            <td id="totalPrice" th:text="${#numbers.formatDecimal(totalCost, 0, 'COMMA', 2, 'POINT')}"></td>
        </tr>
        </tfoot>
    </table>
    <p th:text="${cartFull}"></p>
    <form th:if="${cartFull}" method="GET" action="/cart/checkout">
        <button th:if="${cartFull}" class="w-100 btn btn-primary btn-lg" id="btn-checkout" type="submit">Continue to checkout</button>
    </form>
</div>
</body>
</html>