<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--/*@thymesVar id="games" type="java.util.Collection<cringe.app.db.Game>"*/-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div sec:authorize="isAuthenticated()">
        <form id="logoutForm" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        <h2>Welcome to CringeGames! | <a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
    </div>
</div>
<b>Games:</b>
<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${ games }">
        <td th:text="${game.title}">Doom</td>
        <td><a th:attr="href=${'/play/' + game.id}"><img th:src="${game.icon.getArtifactPath()}"></a></td>
    </tr>
    </tbody>
</table>
<a href="/game/new">New game</a>
</body>
</html>