<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="game" type="cringe.app.db.Game"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${game.title}">DOOM</title>

    <link href="/css/js-dos.css" rel="stylesheet">
    <script src="/js/js-dos/js-dos.js"></script>

    <style type="text/css" th:inline="text">
        html, body, #jsdos {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <script th:if="${game.visibility == game.visibility.PREORDER}">
        alert("This game is not yet released.");
        window.close()
    </script>
</head>
<body>
<div id="jsdos"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    emulators.pathPrefix = "/js/js-dos/";
    Dos(document.getElementById("jsdos"))
        .run(/*[[${ #paths.get(game.release) }]]*/ '/artifact/-1/doom.jsdos');
    /*]]>*/
</script>
</body>
</html>